@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-opacity: .9;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

.bg-opacity {
    --bs-bg-opacity: var(--bg-opacity) !important;
}

.icon {
    height: 1em;
    display: inline;
    position: relative;
    top: -2px;
    vertical-align: middle;
}

.canvas-wrapper {
    height: 100vh;

    svg {
        width:100%;
        height:100%
    }
}

#tool-nav {
    top: 100px;
    left: 10px;
}

.node-connect-point {
    opacity: .2;
    fill: none;
    pointer-events: all;
}
.node-connect-point: hover {
    opacity: 1;
    fill: green;
}
