@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-opacity: .9;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

.bg-opacity {
    --bs-bg-opacity: var(--bg-opacity) !important;
}

.icon {
    height: 1em;
    display: inline;
    position: relative;
    top: -2px;
    vertical-align: middle;
}

.canvas-wrapper {
    height: 100vh;
}
